<div class="card metrics" *ngIf="investmentId">    
    <table class="table">
        <thead>
            <tr>
                <th width="25%">Metric</th>
                <th width="25%">Monthly Average</th>
                <th width="25%">Yearly Total</th>
                <th width="25%">Lifetime Total</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let metric of metrics">
                <td>{{ metric.description }}</td>
                <td *ngIf="metric.metricType === 'DOLLAR'">{{ metric.monthlyAverage | currency }}</td>
                <td *ngIf="metric.metricType === 'DOLLAR'">{{ metric.yearlyTotal | currency }}</td>
                <td *ngIf="metric.metricType === 'DOLLAR'">{{ metric.lifetimeTotal | currency }}</td>
                <td *ngIf="metric.metricType === 'PERCENT'">{{ metric.monthlyAverage | percent:'1.2-2' }}</td>
                <td *ngIf="metric.metricType === 'PERCENT'">{{ metric.yearlyTotal | percent:'1.2-2' }}</td>
                <td *ngIf="metric.metricType === 'PERCENT'">{{ metric.lifetimeTotal | percent:'1.2-2' }}</td>
            </tr>            
        </tbody>
    </table>
    <div class="disclaimer">* metrics do not include current or future months</div>
</div>