<nav class="navbar navbar-dark bg-dark p-2 fixed-top">
  <a class="navbar-brand mr-auto" href="#">fi-tracker</a>
  <a class="nav-item nav-link text-light" (click)="logout()" href="#" *ngIf="isAuthenticated">Logout<i class="fa fa-sign-out-alt"></i></a>
</nav>
