<app-loading *ngIf="!accountService.isAccountsLoaded()"></app-loading>

<div class="account_container" *ngIf="accountService.isAccountsLoaded()">
    <div class="container-fluid p-0 m-4 card account_card">
        <div class="card-header">
            <div class="row">
            <div class="col align-middle">
                <h5>Accounts</h5>
            </div>
            <div class="col text-right">
                <button type="button" class="btn btn-primary btn-sm" (click)="newAccount()">New</button>
            </div>
            </div>
        </div>
        <div>
            <table class="table table-striped">
                <thead>
                    <tr>                    
                        <th width="70%">Description</th>
                        <th width="30%"></th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngIf="mode === 'new'">
                        <td><input class="form-control" placeholder="enter description" [(ngModel)]="selectedAccount.description"/></td>
                        <td class="text-right">
                            <button type="button" class="btn btn-danger btn-sm mr-2" (click)="cancelEdit()">Cancel</button>
                            <button class="btn btn-primary btn-sm" type="button" (click)="saveAccount()" (disabled)="!validateAccount()">Save</button>
                        </td>
                    </tr>
                    <tr *ngFor="let account of accountService.getAccounts()">
                        <td *ngIf="!isAccountEditable(account)">{{ account.description }}</td>
                        <td *ngIf="!isAccountEditable(account)" class="text-right">
                            <button type="button" class="btn btn-danger btn-sm mr-2" (click)="deleteAccount(account)">Delete</button>
                            <button class="btn btn-primary btn-sm" type="button" (click)="editAccount(account)">Edit</button>
                        </td>
                        <td *ngIf="isAccountEditable(account)"><input class="form-control" placeholder="enter description" [(ngModel)]="selectedAccount.description" /></td>
                        <td *ngIf="isAccountEditable(account)" class="text-right">
                            <button type="button" class="btn btn-danger btn-sm mr-2" (click)="cancelEdit()">Cancel</button>
                            <button class="btn btn-primary btn-sm" type="button" (click)="saveAccount()">Save</button>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>

<!-- Delete Modal -->
<app-alert
  message="Are you sure you want to delete this account?"
  *ngIf="showDeleteModal"
  (close)="onCloseDeleteModal()"
  (confirm)="onDelete()"
>
</app-alert>