<div class="container p-4">
  <div class="row">
    <div class="col-12 col-lg-10 align-self-center">

      <!-- Delete Modal -->
      <app-alert
        message="Are you sure you want to delete this investment?"
        *ngIf="showDeleteModal"
        (close)="onCloseDeleteModal()"
        (confirm)="onDelete()"
      >
      </app-alert>

      <!-- Loading Spinner -->
      <app-loading *ngIf="loading"></app-loading>

      <!-- Investment Form -->
      <div class="card" *ngIf="!loading">
        <div class="card-header">
          <div class="row">
            <div class="col align-middle">
              <h5><span *ngIf="editMode">Edit</span><span *ngIf="!editMode">New</span> Investment</h5>
            </div>
            <div class="col text-right">
              <button class="btn btn-primary btn-sm" (click)="onCloseForm()" routerLink="/investments">Close</button>
            </div>
          </div>
        </div>
        <form class="card-body" [formGroup]="investmentForm" (ngSubmit)="onSubmit()">          
          <div class="row">
            <div class="col-3 text-right">
              <label class="pt-1">Description</label>
            </div>
            <div class="col-5">
              <input type="text" class="form-control" formControlName="description">
            </div>
            <div class="col-2 text-right">
              <label class="pt-1">Cost Basis</label>
            </div>
            <div class="col-2">
              <input type="number" class="form-control" formControlName="costBasis">
            </div>
          </div>
          <div class="row pt-2">
            <div class="col-3 text-right">
              <label class="pt-1">Investment Type</label>
            </div>
            <div class="col-5">
              <select class="form-control" formControlName="type">
                <option>stocks</option>
                <option>bonds</option>
                <option>mutual fund</option>
                <option>real estate</option>
                <option>savings account</option>
                <option>CD</option>
                <option>other</option>
              </select>
            </div>
            <div class="col-2 text-right">
              <label class="pt-1">Current Debt</label>
            </div>
            <div class="col-2">
              <input type="number" class="form-control" formControlName="currentDebt">
            </div>
          </div>          
          <div class="row pt-2">
            <div class="col-3 text-right">
              <label class="form-check-label pt-1">Classification</label>
            </div>
            <div class="col-5">
              <select class="form-control" formControlName="accountType">
                <option>investment</option>
                <option>retirement</option>
                <option>cash reserve</option>
              </select>
            </div>
            <div class="col-2 text-right">
              <label class="pt-1">Current Value</label>
            </div>
            <div class="col-2">
              <input type="number" class="form-control" formControlName="currentValue">
            </div>
          </div>          
          <div class="row pt-2">
            <div class="col-3 text-right">
              <label class="form-check-label pt-1">Account</label>
            </div>
            <div class="col-5">
              <select class="form-control" formControlName="accountId">
                <option value=""></option>
                <option *ngFor="let account of accountService.getAccounts()" value="{{ account.id }}">{{ account.description }}</option>                
              </select>
            </div>
          </div>
          <div class="row pt-4">
            <div class="col">

            </div>
            <div class="col text-right">
              <button *ngIf="editMode" class="btn btn-danger mr-2" type="button" (click)="onConfirmDelete()">Delete</button>
              <button type="submit" [disabled]="!investmentForm.valid" class="btn btn-primary">Save</button>
            </div>
          </div>

          <app-investment-metrics [investmentId]="investment.id"></app-investment-metrics>

          <app-transaction [investmentId]="investment.id" (transactionModified)="onTransactionModified()"></app-transaction>

        </form>
      </div>

    </div>
  </div>
</div>
