i {
  width: 50px;
  text-align: center;
}

.nav-link {
  text-align: right;
}

.nav-link.active {
  color: #fff;
  background-color: #007bff;
}

.sidebar {
  position: fixed;
  top: 56px;
  bottom: 0;
  left: 0;
  z-index: 1000;
  padding: 20px;
  overflow-x: hidden;
  overflow-y: auto; /* Scrollable contents if viewport is shorter than content. */
  border-right: 1px solid #eee;
}

.main {
  top: 56px;
}
