<div class="row">

  <div class="col-md-2 d-none d-md-block bg-light p-0 sidebar">
    <nav class="">
      <ul class="nav flex-column">
        <li class="nav-item">
          <a class="nav-link" routerLinkActive="active" routerLink="/portfolio">Portfolio<i class="fa fa-tachometer-alt"></i></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLinkActive="active" routerLink="/accounts">Accounts<i class="fa fa-coins"></i></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLinkActive="active" routerLink="/investments">Investments<i class="fa fa-dollar-sign"></i></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLinkActive="active" routerLink="/account">Profile<i class="fa fa-user"></i></a>
        </li>
        <!--<li class="nav-item">-->
          <!--<a class="nav-link" routerLinkActive="active" routerLink="/reports">Reports<i class="fa fa-chart-line"></i></a>-->
        <!--</li>-->
      </ul>
    </nav>
  </div>

  <div class="col-md-10 ml-sm-auto p-0 main">
    <div class="alert alert-success text-center" *ngIf="messageService.getSuccess() != ''">{{ messageService.getSuccess() }}</div>
    <div class="alert alert-danger text-center" *ngIf="messageService.getError() != ''">{{ messageService.getError() }}</div>
    <div class="alert alert-info text-center" *ngIf="messageService.getInfo() != ''">{{ messageService.getInfo() }}</div>
    <router-outlet></router-outlet>
  </div>

</div>


