<div class="backdrop" (click)="onClose()">

</div>
<div class="alert-box">
  <p>{{ message }}</p>
  <div class="alert-box-actions">
    <button type="button" class="btn btn-danger mr-2" (click)="onConfirm()">Confirm</button>
    <button type="button" class="btn btn-primary" (click)="onClose()">Close</button>
  </div>
</div>
