<app-loading *ngIf="!loaded"></app-loading>

<div class="container-fluid p-4" *ngIf="loaded">
  <div class="row">
    <div class="col-3">
      <div class="card">
        <div class="card-header text-center">
          Portfolio Value
        </div>
        <div class="card-body text-center">
          <h2>{{ portfolioService.portfolio.portfolioValue | currency }}</h2>
        </div>
      </div>
    </div>
    <div class="col-3">
      <div class="card">
        <div class="card-header text-center">
          Portfolio Equity
        </div>
        <div class="card-body text-center">
          <h2>{{ portfolioService.portfolio.portfolioEquity | currency }}</h2>
        </div>
      </div>
    </div>
    <div class="col-3">
      <div class="card">
        <div class="card-header text-center">
          Cash Reserves Balance
        </div>
        <div class="card-body text-center">
          <h2>{{ portfolioService.portfolio.cashReserves | currency }}</h2>
        </div>
      </div>
    </div>
    <div class="col-3">
      <div class="card">
        <div class="card-header text-center">
          Months of Expenses in Reserves
        </div>
        <div class="card-body text-center">
          <h2>{{ portfolioService.portfolio.monthsReserve }} months</h2>
        </div>
      </div>
    </div>
  </div>
  <div class="row pt-4">
    <div class="col-6">
      <div class="card">
        <div class="card-header text-center">
          Portfolio Value By Account Type
        </div>
        <div class="card-body text-center">
          <div class="chart">
            <canvas baseChart
              [data]="accountTypeChartData"
              [labels]="accountTypeChartLabels"
              [chartType]="pieChartType"
              [options]="pieChartOptions"
              [legend]="pieChartLegend">
            </canvas>
          </div>
        </div>
      </div>
    </div>
    <div class="col-6">
      <div class="card">
        <div class="card-header text-center">
          Portfolio Value By Investment Type
        </div>
        <div class="card-body text-center">
          <div class="chart">
            <canvas baseChart
              [data]="investmentTypeChartData"
              [labels]="investmentTypeChartLabels"
              [chartType]="pieChartType"
              [options]="pieChartOptions"
              [legend]="pieChartLegend">
            </canvas>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="row pt-4">
    <div class="col">
      <div class="card">
        <div class="card-header passive_income_chart_header">
          <div>
            Passive Income (trailing 12 months)
          </div>  
          <div class="btn-group" role="group" aria-label="investment type toggle buttons">
            <button type="button" class="btn" [class.btn-primary]="includeRetirement" [class.btn-secondary]="!includeRetirement" (click)="onToggleIncludeRetirement()">All Investments</button>
            <button type="button" class="btn" [class.btn-primary]="!includeRetirement" [class.btn-secondary]="includeRetirement" (click)="onToggleIncludeRetirement()">Non-Retirement</button>            
          </div>
        </div>
        <div class="card-body">
          <div style="display: block">
            <canvas baseChart            
              [datasets]="barChartData"
              [labels]="barChartLabels"
              [options]="barChartOptions"              
              [legend]="barChartLegend"
              [chartType]="barChartType">
            </canvas>
          </div>
        </div>
      </div>
    </div>
  </div>  

  <div class="row pt-4">
    <div class="col">
      <app-freedom-tracker></app-freedom-tracker>
    </div>
  </div>

</div>
