<app-loading *ngIf="!investmentLoaded || !accountsLoaded"></app-loading>

<div *ngIf="investmentLoaded && accountsLoaded" class="container-fluid p-0 m-0">
  <div class="card m-4">
    <div class="card-header">      
      <div class="row">
        <div class="col align-middle">
            <h5>Investments</h5>
        </div>
        <div class="col text-right">
          <button class="btn btn-primary btn-sm" routerLink="/investment/new"><i class="fa fa-plus"></i>New</button>
        </div>
      </div>
    </div>
    <div>
      <table class="table">
        <thead class="card-body">
          <tr>
            <th>Description</th>
            <th>Type</th>
            <th>Classification</th>
            <th>Cost Basis</th>
            <th>Current Debt</th>
            <th>Current Value</th>            
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let investment of getInvestmentsWithoutAccounts()">
            <td><a routerLink="/investment/{{ investment.id }}">{{ investment.description }}</a></td>
            <td>{{ investment.type }}</td>
            <td>{{ investment.accountType }}</td>
            <td>{{ investment.costBasis | currency }}</td>
            <td>{{ investment.currentDebt | currency }}</td>
            <td>{{ investment.currentValue | currency }}</td>            
          </tr>             
          <ng-template ngFor let-account [ngForOf]="getAccountsWithInvestments()">
            <tr class="table-active">            
              <td colspan="5"><strong>{{ account.description }}</strong></td>
              <td><strong>{{ getCurrentValueForAccountId(account.id) | currency }}</strong></td>          
            </tr>
            <tr *ngFor="let investment of getInvestmentsForAccountId(account.id)">
              <td class="pl-4"><a routerLink="/investment/{{ investment.id }}">{{ investment.description }}</a></td>
              <td>{{ investment.type }}</td>
              <td>{{ investment.accountType }}</td>
              <td>{{ investment.costBasis | currency }}</td>
              <td>{{ investment.currentDebt | currency }}</td>
              <td>{{ investment.currentValue | currency }}</td>              
            </tr>
          </ng-template>
        </tbody>
      </table>
    </div>
  </div>
</div>
