<div class="card" *ngIf="loaded">
    <div class="card-header">        
        Freedom Tracker        
    </div>
    <div class="card-body" style="padding: 2rem;">
        <table>
            <tr class="bottom-border font-weight-bold">
                <td width="25%">Pre-Retirement Investment</td>
                <td width="25%">Cost Basis</td>
                <td width="25%">Annual Cash Return</td>
                <td width="25%">Average Monthly Cashflow</td>
            </tr>            
            <tr *ngFor="let preRetirementInvestment of portfolioService.freedomSummary.preRetirementInvestments">
                <td>{{ preRetirementInvestment.investment.description }}</td>
                <td>{{ preRetirementInvestment.investment.costBasis | currency }}</td>
                <td>{{ preRetirementInvestment.annualCashReturn | percent:'1.2-2' }}</td>
                <td>{{ preRetirementInvestment.averageMonthlyCashflow | currency }}</td>
            </tr>                
            <tr class="top-border">
                <td></td>
                <td></td>
                <td>Total</td>
                <td>{{ getPreRetirementCashflowTotal() | currency }}</td>
            </tr>
            <tr>
                <td></td>
                <td></td>
                <td>Monthly Expenses</td>
                <td>{{ portfolioService.freedomSummary.monthlyExpenses | currency }}</td>
            </tr>
            <tr>
                <td></td>
                <td></td>
                <td class="top-border font-weight-bold">Over/Under</td>
                <td [ngClass]="{'top-border': true, 'font-weight-bold': true, 'text-success': getPreRetirementOverUnder() >= 0}">{{ getPreRetirementOverUnder() | currency }} <i *ngIf="getPreRetirementOverUnder() >= 0" class="fa fa-check"></i></td>
            </tr>
        </table>
        <table>
            <tr class="bottom-border font-weight-bold">
                <td width="25%">Retirement Investment</td>
                <td width="25%">Current value</td>
                <td width="25%">Annual Withdraw Rate</td>
                <td width="25%">Monthly Withdraw Amount</td>
            </tr>
            <tr *ngFor="let postRetirementInvestment of portfolioService.freedomSummary.postRetirementInvestments">
                <td>{{ postRetirementInvestment.investment.description }}</td>
                <td>{{ postRetirementInvestment.investment.currentValue | currency }}</td>
                <td>{{ postRetirementInvestment.annualWithdrawRate | percent:'1.2-2' }}</td>
                <td>{{ postRetirementInvestment.monthlyWithdrawAmount | currency }}</td>
            </tr>            
            <tr class="top-border">
                <td></td>
                <td></td>
                <td>Total</td>
                <td>{{ getPostRetirementWithdrawTotal() | currency }}</td>
            </tr>
            <tr>
                <td></td>
                <td></td>
                <td>Monthly Expenses</td>
                <td>{{ portfolioService.freedomSummary.monthlyExpenses | currency }}</td>
            </tr>
            <tr>
                <td></td>
                <td></td>
                <td class="top-border font-weight-bold">Over/Under</td>
                <td [ngClass]="{'top-border': true, 'font-weight-bold': true, 'text-success': getPostRetirementOverUnder() >= 0}">{{ getPostRetirementOverUnder() | currency }} <i *ngIf="getPostRetirementOverUnder() >= 0" class="fa fa-check"></i></td>
            </tr>            
            <tr>
                <td>&nbsp;</td>
            </tr>
            <tr>
                <td>&nbsp;</td>
            </tr>
            <tr>
                <td></td>
                <td></td>
                <td>Combined Pre & Post Retirement Income</td>
                <td>{{ getCombinedIncomeTotal() | currency }}</td>
            </tr>
            <tr>
                <td></td>
                <td></td>
                <td>Monthly Expenses</td>
                <td>{{ portfolioService.freedomSummary.monthlyExpenses | currency }}</td>
            </tr>
            <tr>
                <td></td>
                <td></td>
                <td class="top-border font-weight-bold">Over/Under</td>
                <td [ngClass]="{'top-border': true, 'font-weight-bold': true, 'text-success': getCombinedOverUnder() >= 0}">{{ getCombinedOverUnder() | currency }} <i *ngIf="getCombinedOverUnder() >= 0" class="fa fa-check"></i></td>
            </tr>
        </table>
    </div>
</div>
  