.top-border {
  border-top: 1px solid rgba(0, 0, 0, 0.125);
}

.bottom-border {
  border-bottom: 1px solid rgba(0, 0, 0, 0.125);
}

table {
  width: 100%;
  margin-bottom: 50px;
}

i {
  margin-left: 5px;
}
