.tab {
  left-border: 1px solid #eee;
  right-border: 1px solid #eee;
  bottom-border: 1px solid #eee;
}

.show_more {
  padding: 0px 20px 20px 20px;
  text-align: center;
}

.show_more button {
  margin: auto;
  min-width: 300px;
}
