<div class="container-fluid p-0 mt-4 card" *ngIf="investmentId">
  <div class="card-header">
    <div class="row">
      <div class="col align-middle">
        <h5>Transactions</h5>
      </div>
      <div class="col text-right">
        <button type="button" class="btn btn-primary btn-sm" (click)="newTransaction()">New</button>
      </div>
    </div>
  </div>
  <div>
    <table class="table table-striped">
      <thead >
        <tr>
          <th width="25%">Date</th>
          <th width="15%">Type</th>
          <th width="25%">Description</th>
          <th width="15%">Amount</th>
          <th width="20%"></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngIf="editMode && selectedTransaction.id === ''">
          <td>
            <input class="form-control" type="date" [(ngModel)]="selectedTransaction.transactionDate">
            <small class="form-text text-danger" *ngIf="transactionForm.controls.transactionDate.status === 'INVALID' && transactionSubmitted">invalid date</small>
          </td>
          <td>
            <select class="form-control" [(ngModel)]="selectedTransaction.type">
              <option *ngFor="let type of transactionService.getTransactionTypes()">{{ type }}</option>
            </select>
            <small class="form-text text-danger" *ngIf="transactionForm.controls.type.status === 'INVALID' && transactionSubmitted">invalid type</small>
          </td>
          <td>
            <input class="form-control" [(ngModel)]="selectedTransaction.description">
            <small class="form-text text-danger" *ngIf="transactionForm.controls.description.status === 'INVALID' && transactionSubmitted">invalid description</small>
          </td>
          <td>
            <input type="number" class="form-control" [(ngModel)]="selectedTransaction.amount">
            <small class="form-text text-danger text-left" *ngIf="transactionForm.controls.amount.status === 'INVALID' && transactionSubmitted">invalid amount</small>
          </td>
          <td class="text-right">
            <button type="button" class="btn btn-danger btn-sm mr-2" (click)="cancelTransaction()">Cancel</button>
            <button type="button" class="btn btn-primary btn-sm" (click)="saveTransaction()">Save</button>
          </td>
        </tr>
        <tr *ngFor="let transaction of transactionService.getTransactions()">
          <td>
            <span *ngIf="!editMode || transaction.id !== selectedTransaction.id">{{ transaction.transactionDate | date }}</span>
            <span *ngIf="editMode && transaction.id === selectedTransaction.id">
              <input class="form-control" type="date" [(ngModel)]="selectedTransaction.transactionDate">
              <small class="form-text text-danger" *ngIf="transactionForm.controls.transactionDate.status === 'INVALID' && transactionSubmitted">invalid date</small>
            </span>
          </td>
          <td>
            <span *ngIf="!editMode || transaction.id !== selectedTransaction.id">{{ transaction.type }}</span>
            <span *ngIf="editMode && transaction.id === selectedTransaction.id">
              <select class="form-control" [(ngModel)]="selectedTransaction.type">
                <option *ngFor="let type of transactionService.getTransactionTypes()">{{ type }}</option>
              </select>
              <small class="form-text text-danger" *ngIf="transactionForm.controls.type.status === 'INVALID' && transactionSubmitted">invalid type</small>
            </span>
          </td>
          <td>
            <span *ngIf="!editMode || transaction.id !== selectedTransaction.id">{{ transaction.description }}</span>
            <span *ngIf="editMode && transaction.id === selectedTransaction.id">
              <input class="form-control" [(ngModel)]="selectedTransaction.description">
              <small class="form-text text-danger" *ngIf="transactionForm.controls.description.status === 'INVALID' && transactionSubmitted">invalid description</small>
            </span>
          </td>
          <td>
            <span *ngIf="!editMode || transaction.id !== selectedTransaction.id">{{ transaction.amount | currency }}</span>
            <span *ngIf="editMode && transaction.id === selectedTransaction.id">
              <input type="number" class="form-control" [(ngModel)]="selectedTransaction.amount">
              <small class="form-text text-danger text-left" *ngIf="transactionForm.controls.amount.status === 'INVALID' && transactionSubmitted">invalid amount</small>
            </span>
          </td>
          <td class="text-right">
            <span *ngIf="!editMode || transaction.id !== selectedTransaction.id">
              <button type="button" class="btn btn-danger btn-sm mr-2" (click)="deleteTransaction(transaction)">Delete</button>
              <button class="btn btn-primary btn-sm" type="button" (click)="editTransaction(transaction)">Edit</button>
            </span>
            <span *ngIf="editMode && transaction.id === selectedTransaction.id">
              <button type="button" class="btn btn-danger btn-sm mr-2" (click)="cancelTransaction()">Cancel</button>
              <button type="button" class="btn btn-primary btn-sm" (click)="saveTransaction()">Save</button>
            </span>
          </td>
        </tr>        
      </tbody>
    </table>
    <div *ngIf="transactionService.hasMorePages()" class="show_more">
      <button type="button" class="btn btn-primary" (click)="transactionService.loadMorePages()">Show More</button>
    </div>
  </div>
</div>

<!-- Delete Modal -->
<app-alert
  message="Are you sure you want to delete this transaction?"
  *ngIf="showDeleteModal"
  (close)="onCloseDeleteModal()"
  (confirm)="onDelete()"
>
</app-alert>
