<div class="row pt-5">
  <div class="col-xs-12 col-sm-10 col-sm-offset-1 col-xl-6 col-xl-offset-3 m-auto">
    <div class="alert alert-danger" *ngIf="error">{{ error }}</div>
    <div class="alert alert-success" *ngIf="message">{{ message }}</div>

    <!-- Loading Spinner -->
    <app-loading *ngIf="loading"></app-loading>

    <div class="card" *ngIf="!loading">
      <div class="card-header">
        <div class="row">
          <div class="col align-middle">
            <h5>Account</h5>
          </div>
        </div>
      </div>
      <div class="card-body">
        <form [formGroup]="userForm" (ngSubmit)="onSubmit()">

          <div class="form-group row">
            <div class="col-5 text-right">
              <label class="pt-1">Email</label>
            </div>
            <div class="col-7">
              <input
                type="email"
                class="form-control"
                formControlName="email"
                required
                email
                autofocus
                placeholder="email"
              />
            </div>
          </div>

          <div class="form-group row">
            <div class="col-5 text-right">
              <label class="pt-1">New Password</label>
            </div>
            <div class="col-7">
              <input
                type="password"
                class="form-control"
                formControlName="password"
                minlength="6"
              />
            </div>
          </div>

          <div class="form-group row">
            <div class="col-5 text-right">
              <label class="pt-1">Confirm Password</label>
            </div>
            <div class="col-7">
              <input
                type="password"
                class="form-control"
                formControlName="password_confirm"
                minlength="6"
              />
            </div>
          </div>

          <div class="form-group row">
            <div class="col-5 text-right">
              <label class="pt-1">Monthly Expenses</label>
            </div>
            <div class="col-7">
              <input
                type="number"
                class="form-control"
                formControlName="monthlyExpenses"
              />
            </div>
          </div>

          <div class="form-group row">
            <div class="col-5 text-right">
              <label class="pt-1">Target Monthly Income</label>
            </div>
            <div class="col-7">
              <input
                type="number"
                class="form-control"
                formControlName="targetIncome"
              />
            </div>
          </div>

          <div class="form-group row">
            <div class="col-5 text-right">
              <label class="pt-1">Retirement Withdraw Rate</label>
            </div>
            <div class="col-7">
              <input
                type="number"
                class="form-control"
                formControlName="retirementWithdrawRate"
              />
            </div>
          </div>

          <div class="text-right">
            <button class="btn btn-primary" type="submit" [disabled]="!userForm.valid">Save</button>
          </div>

        </form>

      </div>
    </div>
  </div>
</div>
