<div class="row pt-5 register-form">
  <div class="col-xs-12 col-md-4 col-md-offset-4 col-xl-2 col-xl-offset-5 m-auto">
    <div class="alert alert-danger" *ngIf="error">{{ error }}</div>
    <div class="alert alert-success" *ngIf="success">
      Registration was successful.  You will now be redirected to the <a routerLink="/login">Login</a> page.
    </div>
    <form #authForm="ngForm" (ngSubmit)="onSubmit(authForm)">
      <div class="form-group">
        <input
          type="email"
          id="email"
          class="form-control"
          ngModel
          name="email"
          required
          email
          autofocus
          placeholder="email"
        />
      </div>
      <div class="form-group">
        <input
          type="password"
          id="password"
          class="form-control"
          ngModel
          name="password"
          required
          minlength="6"
          placeholder="password"
        />
      </div>
      <div>
        <button class="btn btn-primary" type="submit" [disabled]="!authForm.valid">Register</button>
      </div>
    </form>
  </div>
</div>
